/* SplashScreen.css */
@keyframes scaleUp {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000; /* Background color of the splash screen */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Make sure it's above all other content */
  }
  
  .splash-content {
    text-align: center;
  }
  
  .splash-logo {
    width: 600px; /* Adjust the initial size as needed */
    height: auto;
    animation: scaleUp 1s ease-in-out; /* Adjust the duration and timing function as needed */
  }
  